<h1> Calculator </h1>


<form [formGroup]="formGroup" (ngSubmit)="computeIntrinsicValue(formGroup.value)">
    <label for="ticker"> Ticker: </label>
    <input id="ticker" type="text" formControlName="ticker">
    <label for="revenue"> Revenue: </label>
    <input id="revenue" type="number" formControlName="revenue">
    <label for="debt"> Total Debt: </label>
    <input id="debt" type="number" formControlName="debt">
    <label for="fcf"> Free Cash Flow (FCF): </label>
    <input id="fcf" type="number" formControlName="fcf">
    <label for="shares"> Number of Shares: </label>
    <input id="shares" type="number" formControlName="shares">
    <label for="growth5"> 5y-growth: </label>
    <input id="growth5" type="number" formControlName="growth5">
    <label for="growth10"> 10y-growth: </label>
    <input id="growth10" type="number" formControlName="growth10">
    <label for="growth20"> 20y-growth: </label>
    <input id="growth20" type="number" formControlName="growth20">
    <label for="discount"> Discount factor: </label>
    <input id="discount" type="number" formControlName="discount">
    <button type="submit" [disabled]="!formGroup.valid">Submit</button>
    <table class="table table-hover">
        <thead>
            <th></th>
            <th *ngFor="let entry of propagatedRevenue; index as index"> {{ 2023 + index }} </th>
            <th> <strong> TOTAL: </strong></th>
        </thead>
        <tbody>
            <tr>
                <td> Revenue/Share </td> 
                <td *ngFor="let entry of propagatedRevenue"> {{ entry / numShares | currency }}</td>
            </tr>
            <tr>
                <td> FCF </td>
                <td *ngFor="let entry of propagatedFCF"> {{ entry / numShares | currency }} </td>
            </tr>
            <tr>
                <td> DFCF </td>
                <td *ngFor="let entry of propagatedDFCF"> {{ entry / numShares | currency }} </td>
                <td> {{ totalProjCashFlow / numShares | currency}}</td>
            </tr>
            <tr>
                <td> Debt </td>
                <td> {{ formGroup.value.debt / numShares | currency }}</td>
            </tr>
            <tr>
                <td> DFCF Value: </td>
                <td> {{intrinsicValue$ | async | currency}} </td>
            </tr>
        </tbody>
    </table>

    <label for="commentary"> Commentary: </label>
    <input id="commentary" type="text" formControlName="commentary">
    <button (click)="saveSimulation()"> Save simulation </button>
</form>
