<p-table [columns]="data.columns" [value]="data.rows" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{ (col.name || col.label || col) }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{ (rowData[(col.label || col)]) | valueFormatter: col.options }}
            </td>
        </tr>
    </ng-template>
</p-table>
