<p-table
    [columns]="data.columns"
    [value]="data.rows"
    >
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{ (col.name || col.label || col) }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                <ng-container
                    [ngTemplateOutlet]="col.options?.composite ? composite: simple"
                    [ngTemplateOutletContext]="{ data: rowData[col.label || col], opts: col.options }"
                    >
                </ng-container>
            </td>
        </tr>
    </ng-template>
</p-table>

<ng-template #simple let-data="data" let-opts="opts">
    <span *ngIf="!opts?.composite">
        {{ data | valueFormatter: opts }}
    </span>
</ng-template>

<ng-template #composite let-data="data" let-opts="opts">
    <div style="display: flex;">
        <div style="width: 80%;"> {{ data.value | valueFormatter: opts }} </div>
        <div> {{ data.change | valueFormatter: { percentage: true } }}</div>
    </div>
</ng-template>
