<h1> Portfolio Overview </h1>
<div class="grid">
    <div class="col-12 lg:col-12 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Total Worth</span>
                    <div class="text-900 font-medium text-xl"> {{ total$() | currency }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">%?? </span>
            <span class="text-500">since last week</span>
        </div>
    </div>
    <div class="col-12 lg:col-12 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Evolution (1-year)</span>
                    <div class="text-900 font-medium text-xl">-</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">%- </span>
            <span class="text-500">since last week</span>
        </div>
    </div>
    <div class="col-12 lg:col-12 xl:col-6">
        <div class="card">
            <h5>Stocks Overview</h5>
            <p-chart type="line" [data]="stockPriceHistoryData" [options]="lineChartOptions" height="27vh"></p-chart>
        </div>
    </div>
    <div class="col-12 lg:col-12 xl:col-6">
        <div class="card">
            <app-pie-chart 
                *ngIf="entries$() as entries" 
                [entries]="entries"
                [totalValue]="total$()"
                ></app-pie-chart>
        </div>
    </div>
</div>
<hr>
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th class="sector">Sector<br></th>
            <th>Quantity<br></th>
            <th>Last price<br></th>
            <th>Avg. price<br></th>
            <th>Market<br>value<br></th>
            <th class="ploss">Profit<br>Loss<br></th>
            <th>Portfolio<br></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let entry of entries$()">
            <tr>
                <td class="sector-item"><strong> {{ entry.ticker }}</strong> {{ " • " + entry.name }} </td>
                <td> {{ entry.sector }} </td>
                <td> {{ entry.quantity }} </td>
                <td> {{ entry.lastPrice | currency }}</td>
                <td> {{ entry.avgPrice | currency }}</td>
                <td> {{ entry.marketValue | currency }}</td>
                <td [ngClass]="{'text-danger': entry.profit! < 0,
            'text-success': entry.profit! > 0.10}"> {{ entry?.profit | percent }}</td>
                <td> {{ (entry.marketValue ?? 0 )/total$() | percent }}</td>
                <td> <button (click)="onClickUpdateTickerPrice(entry.ticker)"> Update </button></td>
            </tr>
        </ng-container>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td class="sector-item"><strong> Total:</strong></td>
            <td> {{ total$() | currency }}</td>
            <td> {{ totals.initial | currency }} </td>
            <td> {{ total$() - totals.initial | currency }}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>
<div class="flex align-items-center">
    <p-chip label="Apple" icon="pi pi-apple" styleClass="mr-2"></p-chip>
    <p-chip label="Facebook" icon="pi pi-facebook" styleClass="mr-2"></p-chip>
    <p-chip label="Google" icon="pi pi-google" styleClass="mr-2"></p-chip>
    <p-chip label="Microsoft" icon="pi pi-microsoft" [removable]="true"></p-chip>
</div>
<!-- <app-calculator></app-calculator> -->
<app-history></app-history>
