:host{
    display: flex;
    flex-direction: column;
    padding: 60px 200px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.card {
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: 12px;
    margin: 20px;
}

.text-danger{
    color: red;
    font-weight: 500;
}

.text-success{
    color: rgb(47, 255, 61);
    font-weight: 500;
}
